<div class="Certificate-sec">
  <div class="content">
    <div class="logo">
      <img src="/images/apj-logo.png">
    </div>
    <h2>Certificate of Completion</h2>
    <p class="paragraph-one">This certificate is awarded to</p>
    <h1 id="names">{{name}}</h1>
    <p class="paragraph-two">has successfully completed the <span id="duration">[duration]</span><strong> Full Stack Development Course</strong><br/> at Dr APJ Dream Tech from <span id="start">[startdate]</span>  to <span  id="end">[enddate]</span>.<br/>
      We commend their dedication and hard work throughout the program.</p>
<div class="signature">
  <img src="/images/founder_signature.png" width="200" height="200">
</div>
      <h3>Venkatesan Chandhirasekar</h3>
      <p class="paragraph-three">Founder & CEO</p>
  </div>
</div>
  
  